
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sample.css'%}">
    <title>karthick Website</title>
</head>
<body>
    <script>
        alert("Welcome To Our Page!--,Good to see you!");
        </script>
    <fieldset id="con">
    <ul>
        <li id="nav">Career Goal</li>
        <li><a href="#" id="home">Home</a></li>
        <li><a href="#" id="service">Services</a></li>
        <li><a href="#">Works</a></li>
        <li><a>About</a>
            <ul id="about">
                 <li><a>Profile</a></li>
                 <li><a>Achievement</a></li>
                 <li><a>Images</a></li>
             </ul>
             </li>
        <li><a href="#">Client</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="{demo.html">Contact</a></li>
        <li><img src="{% static 'karthick/images/222.jpg'%}" height=20px width=20px></li>
    </ul>
    
   
    
    <h1>________________________________________________________________________</h1>
    
   
   <p>We're a digital Technical Developer.</p>
   <br>
   
   
   <ul id="get">
       <li>Getting Started</li>
   </ul>
   
   
   
   <br>
   <br>
   <fieldset id="k2">
   <img src="{% static 'karthick/images/44.jpg'%}" height=40px width=40px id="img1">
   <br>
   <br>
   <h3 id="k3">Future Vision</h3>
   <br>
   <h4 id="k4">It is a long established fact that a<br><br><br> reader will be distracted by the readable<br><br><br> content of a page.</h4>
       

   </fieldset>
   <fieldset id="k5">
       <img src="{% static 'karthick/images/33.jpg'%}" height=40px width=40px id="img2">
       <br>
       <br>
       <h3 id="k6">Product Design.</h3>
       <br>
       <h4 id="k7">There are many variations of passages<br><br><br>of available, but the majority alteration<br><br><br>in some form.</h4>
   </fieldset>
   <fieldset id="k8">
     <img src="{% static 'karthick/images/unnamed.png'%}" height=40px width=40px id="img3">
     <br>
     <br>
     <h3 id="k9">Inovative Solutions.</h3>
     <br>
     <h4 id="k10">There generated Lorem ipsum is therefore<br><br><br>always free from repetition, injected<br><br><br>humour.</h4>
</fieldset>
<ul id="footer">
    <li id="left">Created by @Karthick</li>
    <li><img src="{% static 'karthick/images/gmail.png'%}" height=20px width=20px id="gmail"><a href="#">karthick423897@gmail.com</a></li>
    
    <li><img src="{% static 'karthick/images/app.jpg'%}" height=20px width=20px id="app"><a href="#">8300899772</a></li>
    
    <li><img src="{% static 'karthick/images/insta.jpg'%}" height=20px width=20px id="insta"><a href="#">KarthickSmart</a></li>
    <li><img src="{% static 'karthick/images/twitter.jpg'%}" height=20px width=20px id="twitter"><a href="#">@karthic</a></li>
</ul>
</fieldset>
</body>
</html>